html, body {
  height: 100%;
}

.fullBackground {
    height: 100%;
    width: 100%;
    background: url(Images/bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.fullBackground2 {
    height: 100%;
    width: 100%;
    background: url(Images/bg2.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 0; /* Remove the default bottom margin of .jumbotron */
    background-color: white;
}

.jumbotron.vertical-center {
  margin-bottom: 0; /* Remove the default bottom margin of .jumbotron */
  background-color: white;
}

.vertical-center {
  min-height: 100%;  /* Fallback for vh unit */
  min-height: 100vh; /* You might also want to use
                        'height' property instead.
                        
                        Note that for percentage values of
                        'height' or 'min-height' properties,
                        the 'height' of the parent element
                        should be specified explicitly.
  
                        In this case the parent of '.vertical-center'
                        is the <body> element */

  /* Make it a flex container */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  
  /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;
  
  /* In legacy web browsers such as Firefox 9
     we need to specify the width of the flex container */
  width: 100%;
  
  /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
     hence the bootstrap's container won't be aligned to the center anymore.
  
     Therefore, we should use the following declarations to get it centered again */
         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
}

.fmm-w100h40 {
    width: 100%;
    height: 40px;
    background-color: lightgray;
    border: 0;
}

button.fmm-playButton {
    /*margin-top: 3px;*/
    box-shadow: none;
    background-image: none;
    background-color: #C60505;
    color: white;
}

.padding-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.margin-top-15 {
    margin-top: 15px;
}

.fmm-width100percent {
    width: 100%;
}

.maxWH100 {
    max-width: 100%;
    max-height: 100%;
}

figure.championItem img {
    width: 80px;
    height: 80px;
}

figure.championItem {
    margin: 4px;
}

figure.championItem figcaption {
    color: white;
    font-size: 14px;
    text-align: center;
    max-width: 80px;
    text-overflow: ellipsis;
    overflow: hidden;
}

#fmm-chat {
    padding-top: 31px;
}

.fmm-chatImage {
    width: 60px;
    padding: 0;
    border: 3px solid;
}

.jumbotron p.fmm-chatMessage {
    font-size: 16px;
    color: white;
    padding: 6px;
    margin: 0;
}

.jumbotron p.fmm-chatMessage em {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
}

@media (max-width: 992px) {
  .padding-media {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}

.fmm-90VH {
    overflow: scroll;
    overflow-x: hidden;
    height: 90vh;
    overflow-y: auto;
}

/* COLORS */

#fmm-chat img.indigo {
    border-color: indigo;
}

#fmm-chat p.indigo {
    background-color: indigo;
    color: aliceblue;
}

#fmm-chat img.gold {
    border-color: gold;
}

#fmm-chat p.gold {
    background-color: gold;
    color: darkred;
}

p.fmm-error {
    text-align: center;
    font-size: 16px;
    color: firebrick;
    background-color: whitesmoke;
    margin: 20px 15px 0 15px;
    padding: 3px;
}

input.fmm-input,
select.fmm-input {
    padding-left: 10px;
    font-size: 18px;
}

#fmm-filter {
    margin-left: 3px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: rgb(14, 14, 14); /* Fall-back for browsers that don't  support rgba */
    background: rgba(14, 14, 14, .5);
    color: #606060;
}